# Easier navigation: .., ..., ...., ....., ~ and -
# alias ..="cd .."
# alias ...="cd ../.."
# alias ....="cd ../../.."
# alias .....="cd ../../../.."
# alias ~="cd $HOME" # `cd` is probably faster to type though

# Shortcuts
# alias h="history"
# alias st="subl -a"
# alias gac="git a && git c"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

# eval $(dircolors -b ~/.dircolors)
alias grep='grep ${colorflag}'
alias fgrep='fgrep ${colorflag}'
alias egrep='egrep ${colorflag}'

# Install Pygments package using python-pip
# pip install Pygments [--user]
# See: http://pygments.org/
if command -v pygmentize >/dev/null 2>&1; then
	alias ccat='pygmentize -g'
fi

# Always use color output for `ls`
# alias ls="command ls ${colorflag}"

# List all files colorized in long format
# alias l="ls -lFh"
# List all files colorized in long format, including dot files
# alias la="ls -laFh"
# List only directories
# alias ld='l | grep "^d"'
# List only directories, including dot files
# alias lad='la | grep "^d"'
# List only links
# alias ll='l | grep "^l"'
# List only links, including dot files
# alias lal='la | grep "^l"'
# List all contents exclude directory
# alias lf='l | grep "^-"'
# List all contents include the dotfiles and still witout directory
# alias laf='la | grep "^-"'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# if [[ -n $COMPOSER_HOME ]]; then
# 	# Disable XDebug and some other module for composer
# 	if [ -d "/usr/lib/php5" ]; then
# 		lib_path='/usr/lib/php5/20131226/'
# 	elif [ -d "/usr/lib/php/7.0" ]; then
# 		lib_path='/usr/lib/php/20151012/'
# 	fi

# 	if [ -d "$lib_path" ]; then
# 		# @see: http://stackoverflow.com/a/31083865/881743
# 		options=$(ls -1 "$lib_path"| \
# 			grep --invert-match xdebug| \
# 			# remove problematic extensions
# 			egrep --invert-match 'build|mysql|wddx|pgsql|opcache|blackfire'| \
# 			sed --expression 's/\(.*\)/ --define extension=\1/'| \
# 			# join everything together back in one big line
# 			tr --delete '\n'
# 		)
# 	fi

# 	unset lib_path

# 	composerbin=`which composer`
# 	alias composer='php -n -d extension=xdebug.so $composerbin $@'
# 	unset composerbin
# fi

if command -v notify-send >/dev/null 2>&1; then
	# Add an "alert" alias for long running commands.  Use like so:
	#   sleep 10; alert
	alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
fi

# if command -v phive >/dev/null 2>&1; then
# 	# Manage PHIVE from anywhere
# 	# In this case, my `phive.xml` file is located in home dir
# 	# So it's basically just change dir to Home, run the phive command(s)
# 	# and change directory back to previous one
#     alias phive='_phive() { cd ~; phive "$@"; cd - > /dev/null; }; _phive'
# fi
