# ==============================================================================
# This litle helper when /sbin, /usr/sbin & /usr/local/sbin dir
# doesn't included in $PATH, I found this issue on WSL
# ==============================================================================
# for sbin_dir in {/sbin,/usr/sbin,/usr/local/sbin,$HOME/.local/bin}; do
#     [[ -d $sbin_dir && -z "${PATH##*$sbin_dir*}" ]] && PATH=$sbin_dir:$PATH
# done
# unset sbin_dir

# ==============================================================================
# HomeBrew
# ==============================================================================
if [[ -x /opt/homebrew/bin/brew ]]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"

    # add auto completions
    # See https://docs.brew.sh/Shell-Completion#configuring-completions-in-zsh
    FPATH="$HOMEBREW_PREFIX/share/zsh/site-functions:$FPATH"

    # Credit: https://superuser.com/a/1092328/144662
    # Credit: https://thevaluable.dev/zsh-completion-guide-examples/
    autoload -Uz compinit
    compinit

    source `brew --prefix`/share/zsh-autosuggestions/zsh-autosuggestions.zsh
    source `brew --prefix`/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

    # ==============================================================================
    # Ruby
    # ==============================================================================
    if [[ -d "`brew --prefix ruby`" ]]; then
       PATH="`brew --prefix ruby`/bin:$PATH"
       PATH="`gem env home`/bin:$PATH"
    fi

    # ==============================================================================
    # ASDF-VM
    # ==============================================================================
    [[ -f "`brew --prefix asdf`/libexec/asdf.sh" ]] && source "`brew --prefix asdf`/libexec/asdf.sh"
fi

# ==============================================================================
# Android SDK
# ==============================================================================
if [[ -z $ANDROID_SDK_ROOT && -d "$XDG_DATA_HOME/android" ]]; then
    export ANDROID_SDK_ROOT="$XDG_DATA_HOME/android"

    # for sdk_path in {tools,platform-tools,emulator}; do
    #     [[ -d $ANDROID_SDK_ROOT/$sdk_path ]] && PATH="$ANDROID_SDK_ROOT/$sdk_path:$PATH"
    # done
    # unset sdk_path
fi

# ==============================================================================
# SDKMan | https://sdkman.io/
# ==============================================================================
if [[ -d "$HOME/.sdkman" ]]; then
    export SDKMAN_DIR="$HOME/.sdkman"

    [[ -s "$SDKMAN_DIR/bin/sdkman-init.sh" ]] && source "$SDKMAN_DIR/bin/sdkman-init.sh"
fi

# ==============================================================================
# Rust Cargo
# ==============================================================================
if [[ -d "$HOME/.cargo" ]]; then
    [[ -f "$HOME/.cargo/env" ]] && source "$HOME/.cargo/env"
    [[ -d "$HOME/.cargo/bin" ]] && PATH="$HOME/.cargo/bin:$PATH"
fi

# ==============================================================================
# Composer | https://getcomposer.org/
# ==============================================================================
if command -v composer >/dev/null 2>&1; then
    [[ -z "$COMPOSER_HOME" ]] && export COMPOSER_HOME="$XDG_CONFIG_HOME/composer"
    [[ -d "$COMPOSER_HOME/vendor/bin" ]] && PATH="$COMPOSER_HOME/vendor/bin:$PATH"
fi

# ==============================================================================
# Phive | https://phar.io/
# ==============================================================================
if command -v phive >/dev/null 2>&1; then
    [[ -z "$PHIVE_HOME" ]] && export PHIVE_HOME="$XDG_DATA_HOME/phive"
fi

# ==============================================================================
# User Local
# ==============================================================================
if [[ -d "$HOME/.local/bin" ]]; then
    PATH="$HOME/.local/bin:$PATH"
fi

# Prevent Duplicate Path
# Credit: https://askubuntu.com/a/1349910/10706
export PATH=`printf "%s" "$PATH" | awk -v RS=':' '!a[$1]++ {if (NR > 1) printf RS; printf $1}'`

# ==============================================================================
# Vagrant
# ==============================================================================
# export VAGRANT_WSL_ENABLE_WINDOWS_ACCESS="1"

# ==============================================================================
# Fix OBJC initialization issue
# see: https://github.com/rails/rails/issues/38560
# ==============================================================================
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
export DISABLE_SPRING=true

# ==============================================================================
# Bat - Better version of cat
# ==============================================================================
if command -v bat >/dev/null 2>&1; then
    export BAT_THEME=OneHalfDark
fi
