# ==============================================================================
# This litle helper when /sbin, /usr/sbin & /usr/local/sbin dir
# doesn't included in $PATH, I found this issue on WSL
# ==============================================================================
# for sbin_dir in {/sbin,/usr/sbin,/usr/local/sbin,$HOME/.local/bin}; do
#     [[ -d $sbin_dir && -z "${PATH##*$sbin_dir*}" ]] && PATH=$sbin_dir:$PATH
# done
# unset sbin_dir

# ==============================================================================
# HomeBrew
# ==============================================================================
if [[ -x /opt/homebrew/bin/brew ]]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"

    # add auto completions
    # See https://docs.brew.sh/Shell-Completion#configuring-completions-in-zsh
    FPATH="$HOMEBREW_PREFIX/share/zsh/site-functions:$FPATH"
    autoload -Uz compinit
    compinit

    # ==============================================================================
    # Ruby
    # ==============================================================================
    if [[ -d "`brew --prefix ruby`" ]]; then
       PATH="`brew --prefix ruby`/bin:$PATH"
       PATH="`gem env home`/bin:$PATH"
    fi

    # ==============================================================================
    # ASDF-VM
    # ==============================================================================
    [[ -f "`brew --prefix asdf`/libexec/asdf.sh" ]] && source "`brew --prefix asdf`/libexec/asdf.sh"
fi

# ==============================================================================
# Android SDK
# ==============================================================================
if [[ -z $ANDROID_SDK_ROOT && -d ~/.local/share/android ]]; then
    export ANDROID_SDK_ROOT="$HOME/.local/share/android"

    # for sdk_path in {tools,platform-tools,emulator}; do
    #     [[ -d $ANDROID_SDK_ROOT/$sdk_path ]] && PATH="$ANDROID_SDK_ROOT/$sdk_path:$PATH"
    # done
    # unset sdk_path
fi

# ==============================================================================
# SDKMan
# ==============================================================================
SDKMAN_DIR="$HOME/.sdkman"
if [[ -d $SDKMAN_DIR ]]; then
    [[ -s "$SDKMAN_DIR/bin/sdkman-init.sh" ]] && source "$SDKMAN_DIR/bin/sdkman-init.sh"
    if [[ -x /usr/libexec/java_home ]]; then
        export JAVA_HOME="$(/usr/libexec/java_home)"
    fi

    export SDKMAN_DIR
fi

# ==============================================================================
# Rust Cargo
# ==============================================================================
[[ -f "$HOME/.cargo/env" ]] && . "$HOME/.cargo/env"

# ==============================================================================
# User Local
# ==============================================================================
if [[ -d "$HOME/.local/bin" ]]; then
    PATH="$HOME/.local/bin:$PATH"
fi

# Prevent Duplicate Path
# Credit: https://askubuntu.com/a/1349910/10706
export PATH=`printf "%s" "$PATH" | awk -v RS=':' '!a[$1]++ {if (NR > 1) printf RS; printf $1}'`
# export PATH="$(consolidate_path $PATH)"

# ==============================================================================
# Git Prompt
# see: https://github.com/git/git/blob/master/contrib/completion/git-prompt.sh
# ==============================================================================

# [ -f ~/.local/tools/git-prompt.sh ] && . ~/.local/tools/git-prompt.sh

# ==============================================================================
# Vagrant
# ==============================================================================
# export VAGRANT_WSL_ENABLE_WINDOWS_ACCESS="1"

# ==============================================================================
# FZF
# ==============================================================================
if command -v fzf >/dev/null 2>&1; then
	export FZF_DEFAULT_COMMAND="fd --hidden --strip-cwd-prefix --exclude .git"
	export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
	export FZF_ALT_C_COMMAND="fd --type=d --hidden --strip-cwd-prefix --exclude .git"
fi
