# Create a new directory and enter it
function md() {
	mkdir -p "$@" && cd "$@"
}

# find shorthand
function f() {
	find . -name "$1"
}

# Copy w/ progress
function cp_p() {
  rsync -WavP --human-readable --progress $1 $2
}

# get gzipped size
function gz() {
	echo "orig size    (bytes): "
	cat "$1" | wc -c
	echo "gzipped size (bytes): "
	gzip -c "$1" | wc -c
}

# Get filesize in human-readable format
function size() {
	local filesize=cat "$1" | wc -c

	if [ $filesize -ge 1073741824 ]; then
		filesize=`echo "scale=2;$filesize/1073741824"| bc` G
	elif [ $filesize -ge 1048576 ]; then
	    filesize=`echo "scale=2;$filesize/1048576"| bc` M
	elif [ $filesize -ge 1024 ]; then
	    filesize=`echo "scale=2;$filesize/1024" | bc` K
	fi

	echo $filesize
}

# Fixing file and folder permissions
function fixperms() {
	if [ -z "$1" ]; then
		path="./$1"
	else
		path="."
	fi

	# Change all files perm to 664
	find $path -type f -exec chmod 664 {} +
	# Change all directories perm to 775
	find $path -type d -exec chmod 775 {} +
}

# Extract archives - usage: extract <file>
# Based on http://dotfiles.org/~pseup/.bashrc
function extract() {
	if [ -f "$1" ] ; then
		local filename=$(basename "$1")
		local foldername="${filename%%.*}"
		local fullpath=`perl -e 'use Cwd "abs_path";print abs_path(shift)' "$1"`
		local didfolderexist=false
		if [ -d "$foldername" ]; then
			didfolderexist=true
			read -p "$foldername already exists, do you want to overwrite it? (y/n) " -n 1
			echo
			if [[ $REPLY =~ ^[Nn]$ ]]; then
				return
			fi
		fi
		mkdir -p "$foldername" && cd "$foldername"
		case $1 in
			*.tar.bz2) tar xjf "$fullpath" ;;
			*.tar.gz) tar xzf "$fullpath" ;;
			*.tar.xz) tar Jxvf "$fullpath" ;;
			*.tar.Z) tar xzf "$fullpath" ;;
			*.tar) tar xf "$fullpath" ;;
			*.taz) tar xzf "$fullpath" ;;
			*.tb2) tar xjf "$fullpath" ;;
			*.tbz) tar xjf "$fullpath" ;;
			*.tbz2) tar xjf "$fullpath" ;;
			*.tgz) tar xzf "$fullpath" ;;
			*.txz) tar Jxvf "$fullpath" ;;
			*.zip) unzip "$fullpath" ;;
			*) echo "'$1' cannot be extracted via extract()" && cd .. && ! $didfolderexist && rm -r "$foldername" ;;
		esac
	else
		echo "'$1' is not a valid file"
	fi
}

# PHP Server
function phpserv() {
	if [ $# -eq 0 ]; then
		echo "usage: phpserv <port>[ <docroot>]"
	else
		if [ -z "$2" ]; then
			docroot="-t ."
		else
			docroot="-t $2"
		fi

		php -S localhost:$1 $docroot
	fi
}

function evalssh() {
	# evaluating ssh-agent
	eval `ssh-agent -s`
	ssh-add ~/.ssh/*_rsa
}

function addppa() {
	if [ $# -eq 0 ]; then
		echo "usage: addppa <ppa>"
		echo ""
		echo "examples:"
		echo " - addppa gue/ganteng"
		echo "   that's mean you run"
		echo "   $ sudo add-apt-repository -y ppa:gue/ganteng"
		echo "   $ sudo apt-get update"
	else
		sudo add-apt-repository -y ppa:$1
		sudo apt-get update
	fi
}

# Get list of installed PPAs
# http://askubuntu.com/a/148968/10706 (modified)
function listppa() {
	for APT in `find /etc/apt/ -name \*.list`; do
		grep -Po "(?<=^deb\s).*?(?=#|$)" $APT | while read ENTRY ; do
			echo '  '${ENTRY}
		done
	done
}

