# Generic
# --------------------------
Thumbs.db
Desktop.ini
.DS_Store
.directory
._*
*.DS_Store
*.gz
*.log
*.old
*.zip

# Backup, Cache, and Temporary
.cache
*~
*.bak*
*.bak
*.cache
*.swp

# AI Agents
# --------------------------
.ai
.gemini
.opencode
.superpowers

# Development files
# --------------------------
.env.*
.env

# But Keep these
# --------------------------
!.env.example
!.env.*.example
!.gitkeep
